:root {
	line-height: 1.1;
}

@font-face {
	font-family: 'ActayWide';
	src: url('./fonts/ActayWide/ActayWide-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cygre';
	src: url('./fonts/Cygre/Cygre-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Cygre', sans-serif;
	margin: 60;
	overflow-x: hidden;
}

p {
	font-family: 'Cygre', sans-serif;
}

.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: #832590;
	border-radius: 4px;
}
